
label {
  font-weight: bold;
  color: #333;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}

.form-actions {
  margin-top: 20px;
}


.form-container{
  max-width: 500px;
  margin: auto;
  text-align: center;
  background: rgba(193, 182, 248, 0.5);
  border-radius: 20px;
  padding: 50px;

}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: auto;
  gap: 10px;
}

.form-title {
  padding: 30px;
}


.btn{
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: rgba(82,69,189,1);
  transition: 0.3s ease;
  display: block;
  margin: 0 auto;
}
.btn:hover {
  background: rgb(27, 7, 180);
  color: white;
}
