<h1>My Groups</h1>

<%= link_to "Create New Group", new_group_path, class: "btn btn-primary" %>


<% if @groups.any? %>
  <ul>
    <% @groups.each do |group| %>
      <li>
        <h3><%= link_to group.name, group_path(group)  %></h3>

        <% if group.members.include?(current_user) %>
          <p> ✅ You’re already a member</p>
        <% else %>
          <%= button_to "Join Group", group_group_memberships_path(group), method: :post, class: "btn btn-primary" %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No groups found.</p>
<% end %>

