<h1>My Groups</h1>

<p>You are in <%= @groups.count %> groups.</p>

<% if @groups.any? %>
  <ul class="list-group">
    <% @groups.each do |group| %>
      <li class="list-group-item">
    <h3><%= link_to group.name, group_path(group), class: "text-primary" %></h3>


        <!-- Show group members -->
        <p><strong>Members:</strong></p>
          <% if group.members.any? %>
            <ul>
              <% group.members.each do |member| %>
                <li><%= member.email %></li>
              <% end %>
            </ul>
          <% else %>
            <em>No members yet.</em>
          <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No groups found.</p>
<% end %>
