<div class="cards-home">
<h1>My Groups</h1>
<p>You are in
	<%= @groups.count %> groups.</p>
<% if @groups.any? %>
<div class="cards">
	<% @groups.each do |group| %>
  <div class="card">
		<h3><%= link_to group.name.titleize, group_path(group) %></h3>
		<p><strong>Members:</strong></p>
		<% if group.members.any? %>
			<ul style="list-style-type:none;">
				<% group.members.each do |member| %>
					<li>
						<%= member.email %>
					</li>
					<% end %>
			</ul>
			<% else %> <em>No members yet.</em>
				<% end %>
					<%= link_to group_path(group),
              data: { turbo_method: :delete, turbo_confirm: "Delete this group, Are you sure?" },
              class: 'btn-delete' do %> <i class="fa-solid fa-trash"></i>
						<% end %>
             </div>
							<% end %>
              </div>
								<% else %>
									<p>No groups found.</p>
									<% end %>
                  </div>
