
<footer>
        <div class="container">
            <div class="footer-nav">
                <ul>
                    <li> <%= link_to "Home", root_path %></li>
                    <li>  <%= link_to "Sign up", new_user_session_path %></li>
                </ul>
            </div>
            <div class="social-icons">
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="copyright">
            <p class="copyrighttext">&copy; 2025 - 21 days leter</p>
        </div>
    </footer>