.congrats-message {
  position: fixed;
  top: 30%;
  left: 60%;
  transform: translateX(-50%);
  background:#60cfb9;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  padding: 20px 30px;
  font-size: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.congrats-message.fade-out {
  opacity: 0;
}
